---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Drivers of the Open Road,</h1>
			<p>
				Today, we face a menace that threatens the very flow of civilization itself, a force of obstruction, a plague upon efficiency. I speak, of course, of the Left Lane Campers those who linger where they do not belong, disrupting the natural order of speed and progress.
The left lane is not a resting place. It is not a casual cruising lane. It is a lane of purpose, of movement, of swift and decisive action. And yet, these road clogging insurgents' plant themselves in its path, refusing to yield, refusing to acknowledge the sacred duty of keeping traffic flowing.
They claim ignorance. They claim entitlement. But we know the truth, they are agents of disorder, sowing frustration, delaying the righteous march of those who drive with purpose. But we will not stand idly by. We will signal. We will pass. We will reclaim the roads from their grip.
Let them hear our engines roar. Let them see the flashing lights of justice. And let them know that the left lane is for those who move forward, not those who hesitate.

<h1> Drive with purpose! Drive with honor! 
May the roads be forever free of left lane tyranny!</h1>
			</p>
			<p>
				<h1> 😁 John T is a little bitch </h1>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
